<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container">
    <h1 class="text-primary">게시글 작성</h1>
</div>
<div class="container pb-4">
    뿌삐!
</div>
<div th:replace="fragments/footer :: footer"></div>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>