<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container pb-2">
    <form method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" th:value="${board.title}"/>
        </div>
        <div class="form-group">
            <label for="num">글번호</label>
            <input type="text" class="form-control" id="num" th:value="${board.id}" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label for="writer">작성자</label>
            <input type="text" class="form-control" id="writer" th:value="${board.writer}" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label for="date">작성일</label>
            <input type="text" class="form-control" id="date" th:value="${#temporals.format(board.createdDate,'yyyy-MM-dd')}" readonly="readonly" />
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" rows="5" style="resize: none" th:text="${board.content}"> </textarea>
        </div>
        <a href="/board/list" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>