<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header -->
<header class="header" th:fragment="bodyheader">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand">SKU</a>
            <div class="ui-widget">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/register">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center mb-0">
        <h1 class="text-primary">Book Shop</h1>
        <p class="text-danger">공사 중입니다.</p>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbars" aria-controls="navbars"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbars">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown pr-2" >
                        <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="dropdown"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">카테고리</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown">
                            <a class="dropdown-item" href="#">신학대학</a>
                            <a class="dropdown-item" href="#">인문대학</a>
                            <a class="dropdown-item" href="#">사회과학대학</a>
                            <a class="dropdown-item" href="#">글로벌경영기술대학</a>
                            <a class="dropdown-item" href="#">사범대학</a>
                            <a class="dropdown-item" href="#">IT공과대학</a>
                            <a class="dropdown-item" href="#">예술대학</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/">책 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/board/list">신청 게시판</a>
                    </li>
                </ul>
            </div>
        </nav>
</header>
<!--header end-->