<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <!-- Fixed navbar -->
    <div class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/join">회원가입</a>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9fcdff">
        <div class="container">
            <a class="navbar-brand" href="/" style="font-size: 2rem;">SKU</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars"
                    aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown mr-3" >
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">카테고리</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="#">신학대학</a>
                            <a class="dropdown-item" href="#">인문대학</a>
                            <a class="dropdown-item" href="#">사회과학대학</a>
                            <a class="dropdown-item" href="#">글로벌경영기술대학</a>
                            <a class="dropdown-item" href="#">사범대학</a>
                            <a class="dropdown-item" href="#">IT 공과대학</a>
                            <a class="dropdown-item" href="#">예술대학</a>
                        </div>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="#">책 목록</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="/board/list">게시판</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>