<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="container">
    <div class="subTitle">
        <h3 class="text-center font-weight-bolder mb-5" style="font-size: 4.5rem;">WELCOME</h3>
    </div>
    <form role="form" th:action="@{/join}" th:object="${memberRequestDto}" method="post" class="form-group m-auto" style="max-width: 500px;">
        <div class="input-group">
            <!-- 아이디 -->
            <div class="form-group mt-3">
                <div>
                    <label class="font-weight-bold">아이디</label>
                    <label class="font-weight-bold text-danger">*</label>
                </div>
                <div class="form-inline float-left mr-3">
                    <input type="text" class="form-control" th:field="*{userid}" size="50" style="height: 3rem;"/>
                </div>
                <div class="form-inline">
                    <input type="button" class="form-control btn-sm btn-info" onclick="" value="중복확인" style="height: 3rem;">
                </div>
                <small class="text-danger" th:if="${#fields.hasErrors('userid')}" th:erroes="*{userid}">필수항목 입니다. </small>
            </div>

            <!-- 비밀번호 -->
            <div class="form-group">
                <label class="font-weight-bold">비밀번호</label>
                <label class="font-weight-bold text-danger">*</label>
                <input type="password" class="form-control" th:field="*{password}" id="password" name="password" size="100" style="height: 3rem;"/>
                <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:erroes="*{password}">필수항목 입니다. </small>
            </div>

            <!-- 비밀번호 확인 -->
            <div class="form-group">
                <label class="font-weight-bold">비밀번호 확인</label>
                <label class="font-weight-bold text-danger">*</label>
                <input type="password" class="form-control" id="chkPassword" name="chkPassword" size="100" style="height: 3rem;"/>
            </div>

            <!-- 이름 -->
            <div class="form-group">
                <label class="font-weight-bold">이름</label>
                <label class="font-weight-bold text-danger">*</label>
                <input type="text" class="form-control" th:field="*{name}" id="name" name="name" size="100" style="height: 3rem;"/>
                <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:erroes="*{name}">필수항목 입니다. </small>
            </div>

            <!-- 생년월일 -->
            <div class="form-group">
                <label class="font-weight-bold">생년월일</label>
                <label class="font-weight-bold text-danger">*</label>
                <input type="text" class="form-control" th:field="*{birth}" id="birth" name="birth" size="100" placeholder="ex) 20201225" style="height: 3rem;"/>
                <small class="text-danger" th:if="${#fields.hasErrors('birth')}" th:erroes="*{birth}">필수항목 입니다. </small>
            </div>

            <!-- 핸드폰 번호 -->
            <div class="form-group">
                <label class="font-weight-bold">휴대전화</label>
                <label class="font-weight-bold text-danger">*</label>
                <input type="text" class="form-control" th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber" placeholder="000-0000-0000" size="100" style="height: 3rem;"/>
                <small class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:erroes="*{phoneNumber}">필수항목 입니다. </small>
            </div>

            <!-- 이메일 -->
            <div class="form-group">
                <label class="font-weight-bold">이메일</label>
                <label class="font-weight-bold text-danger">*</label>
                <input type="text" class="form-control" th:field="*{email}" id="email" name="email" size="100" placeholder="example@example.com" style="height: 3rem;"/>
                <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:erroes="*{email}">이메일 형식에 맞지 않습니다. </small>
            </div>

            <div class="form-group mt-3">
                <div>
                    <label class="font-weight-bolder">사용자 주소</label>
                </div>
                <div class="form-inline float-left mr-3">
                    <input type="text" class="form-control form-inline"  th:field="*{zipcode}" id="sample4_postcode" placeholder="우편번호" style="height: 3.5rem;">
                </div>
                <div class="form-inline">
                    <input type="button" class="form-control btn-sm btn-info" onclick="daumAddressAPI()" value="우편번호 찾기" style="height: 3.5rem;">
                </div>
                <div class="mt-2">
                    <input type="text" class="form-control" th:field="*{roadAddress}" id="sample4_roadAddress" placeholder="도로명 주소" size="100" style="height: 3rem;">
                </div>
                <div class="mt-2">
                    <input type="text" class="form-control" th:field="*{jibunAddress}" id="sample4_jibunAddress" placeholder="지번 주소" size="100" style="height: 3rem;">
                </div>
                <div class="mt-2">
                    <input type="text" class="form-control" th:field="*{detailAddress}" id="sample4_detailAddress" placeholder="상세 주소" size="100" style="height: 3rem;">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">회원가입</button>
    </form>
    <footer>
        <div class="mt-5">
            <p class="text-center font-weight-bolder m-auto" style="font-size: 0.8em;">Copyright 2020. 윤민수. All rights
                reserved.</p>
        </div>
    </footer>
</div>

<!-- 다음 카카오 주소 API-->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/custom/daumAddressAPI.js"></script>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>