<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header">
    </head>
    <body>
        <header th:replace="fragments/bodyheader :: bodyheader"></header>
        <!-- main Body -->
        <main role="main" class="container">
            <div class="starter-template">
                <h1>메인 페이지</h1>
                <p class="lead">개발 중입니다.</p>
            </div>
        </main>

        <main role="main" class="container">
            <div class="starter-template">
                <h1>메인 페이지</h1>
                <p class="lead">개발 중입니다.</p>
            </div>
        </main>

        <main role="main" class="container">
            <div class="starter-template">
                <h1>메인 페이지</h1>
                <p class="lead">개발 중입니다.</p>
            </div>
        </main>

        <main role="main" class="container">
            <div class="starter-template">
                <h1>메인 페이지</h1>
                <p class="lead">개발 중입니다.</p>
            </div>
        </main>

        <!-- main Body END -->

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>