<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header">
    </head>
    <body>
        <header th:replace="fragments/bodyheader :: bodyheader"></header>
        <!-- main Body -->
        <main role="main" class="container">
            <div class="starter-template">
                <h1>메인 페이지</h1>
                <p class="lead">개발 중입니다.</p>
            </div>
        </main>

        <main role="main" class="container">
            <div class="starter-template">
                <h1>메인 페이지</h1>
                <p class="lead">개발 중입니다.</p>
            </div>
        </main>

        <main role="main" class="container">
            <div class="starter-template">
                <h1>메인 페이지</h1>
                <p class="lead">개발 중입니다.</p>
            </div>
        </main>

        <main role="main" class="container">
            <div class="starter-template">
                <h1>메인 페이지</h1>
                <p class="lead">개발 중입니다.</p>
            </div>
        </main>

        <!-- main Body END -->

        <div th:replace="fragments/footer :: footer"></div>
        <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>