<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>

        <div class="container">
            <h1 class="text-primary">메인 페이지</h1>
            <p class="text-danger">공사 중</p>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>